








.button{
    -fx-background-color:#0276FF;
    -fx-border-style: solid;
    -fx-border-radius: 5px;


}

.button:hover{
    -fx-background-color: #1C84FF;
}

.table-view{
    -fx-background-color:#F1FDFF;
}
.table-view .column-header {
    -fx-background-color: #C0F4FD;
}

.text-field{

    -fx-background-color: white;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 0;
}
.text-field:focused {
	-fx-background-color: lightgrey;
}
